/*.container-fluid {
  background: url("../img/php-elephant.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: -25px;
}*/

/*@media(max-width: 991px) {*/
.container-fluid {
  background: url("../img/php-elephant.png") no-repeat fixed;
  /*    -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;*/
  margin-top: -25px;
  /*    background-size: cover;*/
  background-position: right;
  background-size: contain;
  background-color: #8792c0;
}
/*}*/

.bg-darkblue {
  background-color: #515d9b !important;
}

.bg-gradient-primary {
  background-color: #515d9b !important;
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#515d9b),to(#224abe));
  background-image: linear-gradient(180deg,#515d9b 10%,#224abe 100%);
  background-size: cover;
}